#equilateral{
    width:0;
    border-left:180px solid transparent;
    border-right:180px solid transparent;
    border-bottom:160px solid green;
}



#isoscles{
    width:0;
    border-left: 220px solid transparent;
    border-right :220px solid transparent;
    border-bottom:200px solid green; 
}
#scalane{
    width:0;
    border-left: 190px solid transparent;
    border-right:190px solid transparent;
    border-bottom:160px solid green; 
}


body{
    background-color: #994d00 ;
    font-size: 25px;
    text-align: justify;
}
button{
    background-color: #4d0019;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
 }
 h1{
    color: blue;
    text-align : justify;
    font-size: 40px;
    font-style: italic;
    
    
 } 
 h2,h3,h4{ 
     color:aquamarine;
     text-align:justify;
     font-weight: normal;
     font-size: 30px
  }
  
